.blog-post {
  padding: 0 15px;
}

div.blog-post {
  display: none;
  margin-bottom: 50px;
}

.blog-post .post-image img {
  width: 100%;
}

.blog-post .post-image p {
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}

.blog-post .post-image a {
  font-weight: 600;
}

.blog-post .post-title h1 {
  color: #333333;
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
  margin-top: 24px;
}

.blog-post .post-title h2 {
  font-size: 25px;
  line-height: 35px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.blog-post .post-info {
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
  padding: 10px 0;
  color: #8c8c8c;
}

.blog-post p {
  font-size: 16px;
  line-height: 30px;
  color: #696868;
  font-weight: 300;
  letter-spacing: 0.8px;
  font-family: "Poppins", sans-serif;
}

.comment h3 {
  font-size: 25px;
  line-height: 35px;
  font-weight: 600;
  color: #1abc9c;
  margin: 35px 0;
  letter-spacing: 0.5px;
}

.tags {
  list-style: none;
  padding: 2px;
  margin: 0;
  padding-left: 0px;
  li {
    display: inline-block;
    color: #ffffff;
    margin: 4px 4px;
    padding: 10px 20px;
    font-size: 12px;
    letter-spacing: 0.6px;
    margin-left: 0px;
    border-radius: 4px;
    cursor: default;
  }
}
