<div class="page-body">
  <div class="sub-title">
    <h2>My Blog</h2>
    <select (change)="tagSelected($event.target.value)" class="form-group form-control tag-select">
      <option value="" selected="" hidden disabled="">Select tag</option>
      <option value="">All</option>
      <option *ngFor="let tag of tags">{{tag.name}}</option>
    </select>
  </div>
  <ng-container *ngIf="posts; else preloader">
    <app-blog-section
      *ngFor="let post of posts | tagFilter: selectedTag; trackBy: trackByFn"
      [post]=post
    ></app-blog-section>
  </ng-container>
  <ng-template #preloader>
    <app-preloader></app-preloader>
  </ng-template>
</div>


