body {
  font-family: "Poppins", sans-serif;
  background: #fafafa !important;
}

html {
  position: relative;
  min-height: 100%;
}

::selection {
  background-color: #1abc9c;
  color: #ffffff;
}

::-moz-selection {
  background-color: #1abc9c;
  color: #ffffff;
}

a {
  text-decoration: none !important;
  color: #1abc9c;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
  color: #333333;
}

b {
  font-weight: 600;
  color: #333333;
}

p {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

button {
  background-color: transparent;
}

*:focus {
  outline: 0;
}

#main {
  margin: 50px 0;
}

.main-color {
  color: #1abc9c;
}

.page-body {
  background: #ffffff;
  box-shadow: -2px -1px 88px 0px rgba(0,0,0,0.17);
  width: 820px;
  margin: auto;
}

.sub-title {
  padding: 30px;
}

.sub-title h2 {
  display: inline-block;
  font-size: 25px;
  letter-spacing: 0.5px;
  font-weight: 600;

}

.sub-title i {
  float: right;
  font-size: 35px;
  margin-top: 15px;
}

.content-page {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 60px;
  border-top: 1px dashed #dedede;
  border-bottom: 1px dashed #dedede;
}

.button {
  border: none;
  font-family: inherit;
  font-size: 16px;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 10px 60px;
  padding-left: 0px;
  display: inline-block;
  margin: 8px 30px;
  margin-left: 5px;
  letter-spacing: 1px;
  font-weight: 600;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.button:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}


.button:before {
  font-family: 'FontAwesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

.button-style {
  color: #1abc9c;
  overflow: hidden;
}

.button-style:before {
  position: absolute;
  font-size: 27px;
  line-height: 38px;
  color: #1abc9c;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.button-style:active:before {
  color: #1abc9c;
}

.button-anim:before {
  left: 60%;
  opacity: 0;
  top: 0;
}

.button-anim:hover:before {
  left: 75%;
  opacity: 1;
}


.form-control {
  height: 50px;
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 2px solid transparent;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-control:focus {
  border-color: #1abc9c;
  border-width: 2px;
}

.bg-color-1 {
  background-color: #f306a0;
}

.bg-color-2 {
  background-color: #d60bfb;
}

.bg-color-3 {
  background-color: #d8be10;
}

.bg-color-4 {
  background-color: #0fd28a;
}

.bg-color-5 {
  background-color: #f97400;
}

.bg-color-6 {
  background-color: #08a6f3;
}
