@import 'variables';

body {
  font-family: "Poppins", sans-serif;
  background: #fafafa !important;
}

html {
  position: relative;
  min-height: 100%;
}

::selection {
  background-color: $blog-main;
  color: #ffffff;
}

::-moz-selection {
  background-color: $blog-main;
  color: #ffffff;
}

a {
  text-decoration: none !important;
  color: $blog-main;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
  color: $blog-text;
}

b {
  font-weight: 600;
  color: $blog-text;
}

p {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

button {
  background-color: transparent;
}

*:focus {
  outline: 0;
}

#main {
  margin: 50px 0;
}

.main-color {
  color: $blog-main;
}

.page-body {
  background: #ffffff;
  box-shadow: -2px -1px 88px 0px rgba(0,0,0,0.17);
  width: 820px;
  max-width: 100%;
  margin: auto;
}

.sub-title {
  padding: 30px;
}

.sub-title h2 {
  display: inline-block;
  font-size: 25px;
  letter-spacing: 0.5px;
  font-weight: 600;

}

.sub-title i {
  float: right;
  font-size: 35px;
  margin-top: 15px;
}

.content-page {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 60px;
  border-top: 1px dashed #dedede;
  border-bottom: 1px dashed #dedede;
}

.form-control {
  height: 50px;
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 2px solid transparent;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-control:focus {
  border-color: $blog-main;
  border-width: 2px;
}

.bg-color-1 {
  background-color: $bg-color-1;
}

.bg-color-2 {
  background-color: $bg-color-2;
}

.bg-color-3 {
  background-color: $bg-color-3;
}

.bg-color-4 {
  background-color: $bg-color-4;
}

.bg-color-5 {
  background-color: $bg-color-5;
}

.bg-color-6 {
  background-color: $bg-color-6;
}
