<div class="content-page">
  <div class="blog-post">
    <div class="col-md-12 blog-post">
      <div class="post-title">
        <a [routerLink]="['/post', post.id]"><h1>{{post.title}}</h1></a>
      </div>
      <p>{{post.shortDescription}}</p>
      <ul class="tags">
        <li class="bg-color-4" *ngFor="let tag of post.tags">#{{tag}}</li>
      </ul>
      <a [routerLink]="['/post', post.id]" class="button button-style button-anim fa fa-long-arrow-right"><span>Read More</span></a>
    </div>
  </div>
</div>
